@import "src/Styles/mixins.scss";

.button {
  color: #fff;
  background: rgba(var(--themeColor), 1);
  border: 2px solid rgba(var(--themeColor), 1);
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.8rem 4rem;
  border-radius: 5px;
  width: max-content;
}

@media (max-width: 600px) {
  .button {
    display: block;
    text-align: center;
    padding: 2rem 4rem;
    margin: 0 0 2rem;
    width: 100%;
  }
}

.button.secondary {
  background-color: transparent;
  color: rgba(var(--themeColor), 1);
  border-color: rgba(var(--themeColor), 1);
}