.container {
  width: 79%;
  margin: 0 auto;
}

@include large {
  .container {
    width: 85%;
  }
}

@include medium {
  .container {
    width: 90%;
  }
}

@include small {
  .container {
    width: 92%;
  }
}

@each $skill, $color in $my-skills-colors {
  .#{$skill}-color {
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      background-color: #{$color} !important;
      color: #fff !important;
    }
  }
}

@each $media, $color in $social-media-color {
  .#{$media}:hover {
    background-color: #{$color} !important;

    @if $media=="github" or $media=="codepen" {
      & svg {
        fill: #000 !important;
      }
    }
  }
}

.codewars img {
  filter: brightness(0) invert(1);
}