@import "src/Styles/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 100px -5px #eee;
  z-index: 1000;
  background: #fff;
}

@media (max-width: 600px) {
  .main-header {
    padding: 2.3rem 1.5rem;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.imgHolder {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 10rem;
  background: rgba(var(--themeColor), 1);
}

@media (max-width: 600px) {
  .imgHolder {
    margin-right: 1rem;
  }
}

.logoText {
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
}

@media (max-width: 900px) {
  .nav ul li {
    padding: 1.3rem 1.5rem;
  }
}

@media (max-width: 600px) {
  .nav ul {
    display: none;
  }
}