@use "src/Styles/mixins.scss" as m;

.heroSection {
  display: flex;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
}

@include m.small {
  .heroSection {
    height: unset;
    min-height: unset;
    max-height: unset;
  }
}

.content {
  margin: auto;
  animation: downToUp .8s;
}

@include m.small {
  .content {
    margin: 0 auto;
    padding: 15rem 0 10rem 0;
  }
}

.heroSection .buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

@include m.very-small {
  .heroSection .buttons {
    flex-direction: column;
    gap: 0;
  }
}

@keyframes downToUp {
  0% {
    opacity: 0;
    translate: 0 50px;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}