@import "src/Styles/mixins.scss";

.footer {
  background: #000;
  padding: 10rem 0;
}

@media (max-width: 37.5em) {
  .footer {
    padding: 7rem 0;
  }
}

.nav ul {
  display: flex;
  max-width: 50rem;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

@media (max-width: 37.5em) {
  .nav ul {
    display: block;
  }
}

.nav ul li a {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

@media (max-width: 37.5em) {
  .nav ul li a {
    margin-bottom: 0.5rem;
    padding: 3rem 1.5rem;
    display: block;
  }
}

.socialMedia {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 25rem;
  margin: auto;
  margin-top: 6rem;
}

.socialMedia {}

.socialMedia {}