@import "src/Styles/mixins.scss";

.footer {
  background: #141414;
  padding: 10rem 0;
}

@media (max-width: 37.5em) {
  .footer {
    padding: 7rem 0;
  }
}

.nav .navLinks {
  display: flex;
  max-width: 50rem;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

@media (max-width: 37.5em) {
  .nav .navLinks {
    display: block;
  }
}

.nav .navLinks li a {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

@media (max-width: 37.5em) {
  .nav .navLinks li a {
    margin-bottom: 0.5rem;
    padding: 3rem 1.5rem;
    display: block;
  }
}

.nav .socialMedia {
  display: flex;
  gap: 4px;
  width: fit-content;
  margin: 60px auto 0;
}

.nav .socialMedia li a {
  outline: 0;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  color: rgba(255, 255, 255, .8);
  background: #333;
  @include center-x-y;
  transition: background-color .3s;
}

.nav .socialMedia li a :where(svg, img) {
  width: 22px;
  height: 22px;
}

.nav .socialMedia li a svg {
  fill: #fff;
}

.nav .socialMedia li a .codewars {
  filter: brightness(0) invert(1);
}