@import "src/Styles/mixins.scss";

.aboutSection {
  background-color: #fcfcfc;
  padding: 12rem 0;
  border: solid red;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;
}

@include large {
  .wrapper {
    grid-template-columns: 1fr;
    grid-gap: 6rem;
  }
}